.home-slider{
  touch-action: none;
}



.modal-btn-back{
  padding: 0px !important;
  max-width: 100% !important;
  width: 100%;
  height: 100%;
}

.modal-btn{
  background: none;
  border: none;
  width: 100%;
  height: 100%;
  padding: 0px;
}
.modal-content{
  height: 95vh;
  overflow-y: scroll;
}
.modal-title{
  color: black;
  font-weight: bold;
}
.modal-body-content{
  max-width: 1200px;
  margin: auto;
}
.modal-sub-title{
  color: black;
  font-size: 18px;
  font-weight: bold;
}
.img-card-back{
  width: 100%;
  margin-bottom: 25px;
}
.img-back{
  width: 65%;
  margin-left: 5%;
  margin-bottom: 5px;
}
.img-back>img{
  width: 100%;
  height: auto;
  border: 0.5px solid rgb(162, 162, 162);
}
.img-back>iframe{
  width: 100%;
  height: 600px;
}
.img-card-title{
  font-size: 16px;
  font-weight: bold;
  color: black;
  margin-left: 5%;
}
.img-description{
  text-align: center;
  font-size: 12px;
}
.img-card-description{
  margin-left: 5%;
  margin-right: 5%;
}


@media (max-width: 1440px){
  .img-back{
    width: 70%
  }
  .img-back>iframe{
    height: 550px;
  }
}

@media (max-width: 1024px){
  .img-back{
    width: 85%
  }
  .img-back>iframe{
    height: 450px;
  }
}
@media (max-width: 720px){
  .img-back>iframe{
    height: 300px;
  }
  .owl-carousel.home-slider {
    z-index: -1;
  }
  #home-section{
    margin-top: -150px;
  }
  .project-btn{
    display: none;
  }
}


@media (min-width: 576px){
  .modal-dialog {
    max-width: 90vw;
    margin: 1.75rem auto;
  }
}




